%% Hydra DHCP Server project
%% (C) 2014 Angel J. Alvarez Miguel


%%{escript_emu_args, "%%!-rsh ssh -setcookie dhcpserver\n"}.

{erl_opts, [
%%            debug_info,
%%            native,
%%            inline,
                {i, "include"}
%             {src_dirs, ["src1", "src2"]},
%             {platform_define,"(linux|solaris|freebsd|darwin)", 'HAVE_SENDFILE'},
%             {platform_define, "(linux|freebsd)", 'BACKLOG', 128},
%             {platform_define, "R13", 'old_inets'}
            ]}.
{qc_opts, [{qc_lib, eqc}]}.


{pre_hooks, [
               {compile, "echo $((`cat .build` + 1)) > .build"}
            ]}.